@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if(!Model.BloggerExists)
{
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">A user has not yet been created. Create one now to start posting.</h4>
        <code>Suggested password: @Model.GeneratedPassword</code>
        <form class="row g-3" method="post">
            @Html.AntiForgeryToken() <!--Have the antiforgery token generated and embedded on to the page for use in this form.-->
          <div class="col-auto">
            <label for="staticEmail2" class="visually-hidden">Email</label>
            <input name="email" type="text" class="form-control" id="staticEmail2" placeholder="Email">
          </div>
          <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">Password</label>
            <input name="password" type="password" class="form-control" id="inputPassword2" placeholder="Password">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Create Account</button>
          </div>
        </form>
    </div>
}

@if(Model.LoggedIn)
{
    <div class="bg-light p-4">
        <input type="hidden" id="postId" value=""/> <!--Use this to store the id on the page for use later in javascript-->
      <div class="mb-3">
        <label for="titleInput" class="form-label">Title</label>
        <input type="text" class="form-control" id="postTitleInput">
      </div>
      <div class="mb-3">
        <label for="bodyInput" class="form-label">Body</label>
        <textarea class="form-control" id="postBodyInput"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" onclick="CreatePost()">Save Post</button>
    </div>
}

@foreach(var p in Model.Posts)
{
    string shortPost = p.Body;

    //This code shortens the body if the string is longer than 50 characters.
    if(!String.IsNullOrEmpty(p.Body) && p.Body.Length > 50){
        shortPost = p.Body.Substring(0,50) + "...";
    }

    <div class="card mt-3">
        <div class="card-header">
            @p.Title - @p.Created.ToShortDateString() @p.Created.ToShortTimeString()
        </div>
        <div class="card-body">
            <p>@shortPost</p>
        </div>
        <div class="card-footer">
            <!--Take the user to view the entire post-->
            <a class="btn btn-link" asp-page="/Post" asp-route-id="@p.Id">View full post</a>
        @if(Model.LoggedIn)
        {
            <button class="btn btn-info" onclick="PopulatePostArea('@p.Id')">Modify</button>
            <button class="btn btn-danger" onclick="DeletePost('@p.Id')">Delete</button>
        }
        </div>
    </div>
}
